<<<<<<< HEAD
/*
    *********  RAMA EXPERIMENTAL *************
    Rama creada para actualizar solo el diseño 
    de la pagina index.html atraves del archivo 
    de estilos styles.css
    
    Creada por: 
        Ing. Engelbert Zamudio Ponzzi;
    e-mail: 
        engel_zamudio@icloud.com
    
    Fecha de creacion: 29/07/2015;

*/

body
{
 background: #EF840E;
 font-size: 18px;
=======
body
{
 background: rgb(22, 21, 20);
 font-size: 16px;
>>>>>>> origin/master
}

a
{
  text-decoration: none;
}

ul
{
<<<<<<< HEAD
  margin: 25% 0 0% 0%;
=======
  margin: 20% 0 0% 0%;
>>>>>>> origin/master
}

ul li
{
  list-style: none;
}

ul li a
{
 text-decoration: none; 
}

ul li a p
{
  width: 75%;
  list-style-type: none;
<<<<<<< HEAD
  background: #EF840E;
=======
  background: #E94016;
>>>>>>> origin/master
  border-bottom: solid thin white;
  padding: .3em 1em .3em;
  text-decoration: none;
  color: white;
  font-size: 13px;
}


h1
{
  padding-bottom: 2em;
  border-bottom: none;
<<<<<<< HEAD
  font-size: 13px;
=======
  font-size: 16px;
>>>>>>> origin/master
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 32px;
  text-align: center;
  color: black;
}

h3
{
  text-transform: uppercase;
<<<<<<< HEAD
  font-size: 30px;
  line-height: 32px;
  border-bottom: 1px #eee solid;
  color: #2B7344;
=======
  font-size: 13px;
  line-height: 32px;
  border-bottom: 1px #eee solid;
  color: #FFF7F7;
>>>>>>> origin/master
  margin-bottom: 2.5em;
  padding-bottom: .5em;
}

header.sidebar
{
<<<<<<< HEAD
  background-color:  rgb(43, 115, 68);
  /*background-color: #EEEEEE;*/
=======
  background-color: #EEEEEE;
>>>>>>> origin/master
  width: 30%;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  top: 0;
}

section.sidebar_information
{
  color: white;
}

<<<<<<< HEAD
h1.sidebar_information_title{
  color: white;
}

=======
>>>>>>> origin/master
div.sidebar_userimage
{
  cursor: pointer;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 35% 0;
  padding: 8% 0 0;
  text-align: center;

}

div.sidebar_userimage img
{

  border-radius: 26px;
  width: 75px;
  padding: 7px;
  border: 1px solid #ccc; 
}

div.comunidad-autoria
{
  border-bottom: solid 1px white;
<<<<<<< HEAD
  background: #EF840E;
=======
  background: black;
>>>>>>> origin/master
  border-top: solid 1px white;
  padding: 3% 0;
  margin: 12% 0;
}

div.logo
{
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 3% 0 0;
}

div.logo img
{
  width: 45px;
  border-radius: 45px;
  padding: 0;
  margin: 0;
}

div.nombre
{
<<<<<<< HEAD
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0% 33%;
    font-size: 27px;
    text-align: center;
=======
display: inline-block;
vertical-align: top;
padding: 0;
margin: 0% 33%;
font-size: 15px;
text-align: center;
>>>>>>> origin/master
}

div.nombre p
{
<<<<<<< HEAD
/*  color: rgb(255, 255, 255); */
    color: #2B7344;
=======
  color: rgb(255, 255, 255)
>>>>>>> origin/master
}

div.layout-principal
{
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0;  
  overflow-x: auto;
  width: 55%;
  padding: 0% 6.5%;
}

div.bloque
{
  margin: 5% 0 0;
}

div.bloque p
{
<<<<<<< HEAD
/*  color: rgb(255, 255, 255); */
  color: #EFF6F7;
=======
  color: rgb(255, 255, 255);
>>>>>>> origin/master
  line-height: 1.9em;
}